@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,700;1,500;1,700&display=swap');

*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  background-color: hsl(0, 0%, 100%);
}

p {
  font-size: 18px;
}

.main-container {
  width: 45%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  background-color:  hsl(0, 0%, 100%);
  box-shadow: 15px 15px 10px  hsl(221, 100%, 96%);
}

.left-container {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 50%;
  border-radius: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.circle-container {
  border-radius: 50%;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin-left: auto;
  margin-right: auto;
  width: 9em;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

.right-container {
  width: 50%;
  padding: 30px;
}

.red-container {
  background-color: hsl(0, 100%, 67%, 15%);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.yellow-container {
  background-color: hsl(39, 100%, 56%, 15%);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.green-container {
  background-color: hsl(166, 100%, 37%, 15%);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.blue-container {
  background-color: hsl(234, 85%, 45%, 15%);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: hsl(224, 30%, 27%);
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  color:  hsl(0, 0%, 100%)
}

.button:hover {
  background-color: hsl(241, 81%, 54%);
}

.icon-img {
  vertical-align: middle;
}

.red-text {
  color: hsl(0, 100%, 67%);
}

.yellow-text {
  color: hsl(39, 100%, 56%);
}

.green-text {
  color: hsl(166, 100%, 37%);
}

.blue-text {
  color: hsl(234, 85%, 45%);
}

.dark-text {
  color: hsl(224, 30%, 27%);
}

.light-text {
  color: hsl(224, 30%, 27%, 40%);
}

.lighter-text {
  color: hsl(0, 0%, 100%, 50%);
}

.white-text {
  color: hsl(0, 0%, 100%);
}

.summary-text-box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.inner-circle-area {
  padding: 40px;
  text-align: center;
}

.bigger-score-text {
  font-size: 45px;
}

.your-result-header {
  margin-bottom: 20px;
}

.result-rating-header {
  margin-bottom: 5px;
}

/* Mobile media query*/

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .left-container {
    width: 100vw;
  }

  .right-container {
    width: 100vw;
  }
}
